@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 44 100% 97.0588%;
    --foreground: 240 10% 3.9216%;
    --card: 44 100% 97.0588%;
    --card-foreground: 240 10% 3.9216%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9216%;
    --primary: 330 100% 70.5882%;
    --primary-foreground: 0 0% 0%;
    --secondary: 330 100% 70.5882%;
    --secondary-foreground: 240 10% 3.9216%;
    --muted: 240 4.7619% 95.8824%;
    --muted-foreground: 240 3.8298% 46.0784%;
    --accent: 159.8438 100% 74.902%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 72.2222% 50.5882%;
    --destructive-foreground: 0 0% 100%;
    --border: 44.3478 28.3951% 84.1176%;
    --input: 44.3478 28.3951% 84.1176%;
    --ring: 330 100% 70.5882%;
    --chart-1: 345.3488 82.6923% 40.7843%;
    --chart-2: 172.4551 66.0079% 50.3922%;
    --chart-3: 29.1429 98.3936% 48.8235%;
    --chart-4: 21.7143 77.7778% 26.4706%;
    --chart-5: 192.9231 82.2785% 30.9804%;
    --sidebar: 0 0% 100%;
    --sidebar-foreground: 240 10% 3.9216%;
    --sidebar-primary: 330 100% 70.5882%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 159.8438 100% 74.902%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 240 5.8824% 90%;
    --sidebar-ring: 330 100% 70.5882%;
    --font-sans: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
      Droid Sans, Helvetica Neue, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
    --font-mono: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0rem 0.25rem 0.75rem 0rem hsl(var(--shadow-color) / 0.05);
    --shadow-xs: 0rem 0.25rem 0.75rem 0rem hsl(var(--shadow-color) / 0.05);
    --shadow-sm: 0rem 0.25rem 0.75rem 0rem hsl(var(--shadow-color) / 0.1),
      0rem 1px 2px -1px hsl(var(--shadow-color) / 0.1);
    --shadow: 0rem 0.25rem 0.75rem 0rem hsl(var(--shadow-color) / 0.1), 0rem 1px 2px -1px hsl(var(--shadow-color) / 0.1);
    --shadow-md: 0rem 0.25rem 0.75rem 0rem hsl(var(--shadow-color) / 0.1),
      0rem 2px 4px -1px hsl(var(--shadow-color) / 0.1);
    --shadow-lg: 0rem 0.25rem 0.75rem 0rem hsl(var(--shadow-color) / 0.1),
      0rem 4px 6px -1px hsl(var(--shadow-color) / 0.1);
    --shadow-xl: 0rem 0.25rem 0.75rem 0rem hsl(var(--shadow-color) / 0.1),
      0rem 8px 10px -1px hsl(var(--shadow-color) / 0.1);
    --shadow-2xl: 0rem 0.25rem 0.75rem 0rem hsl(var(--shadow-color) / 0.25);
    --tracking-normal: -0.025em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 5.098%;
    --popover-foreground: 214.2857 31.8182% 91.3725%;
    --primary: 329.8824 100% 50%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 0%;
    --secondary-foreground: 214.2857 31.8182% 91.3725%;
    --muted: 0 0% 9.0196%;
    --muted-foreground: 0 0% 38.0392%;
    --accent: 160 100% 50%;
    --accent-foreground: 0 0% 0%;
    --destructive: 345 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 14.902%;
    --input: 0 0% 9.0196%;
    --ring: 330 100% 70.5882%;
    --chart-1: 345.3488 82.6923% 40.7843%;
    --chart-2: 172.4551 66.0079% 50.3922%;
    --chart-3: 29.1429 98.3936% 48.8235%;
    --chart-4: 21.7143 77.7778% 26.4706%;
    --chart-5: 192.9231 82.2785% 30.9804%;
    --sidebar: 0 0% 5.098%;
    --sidebar-foreground: 214.2857 31.8182% 91.3725%;
    --sidebar-primary: 330 100% 70.5882%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 159.8438 100% 74.902%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 0 0% 14.902%;
    --sidebar-ring: 330 100% 70.5882%;
    --font-sans: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
      Droid Sans, Helvetica Neue, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
    --font-mono: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0rem 0.25rem 0.75rem 0rem hsl(var(--shadow-color) / 0.05);
    --shadow-xs: 0rem 0.25rem 0.75rem 0rem hsl(var(--shadow-color) / 0.05);
    --shadow-sm: 0rem 0.25rem 0.75rem 0rem hsl(var(--shadow-color) / 0.1),
      0rem 1px 2px -1px hsl(var(--shadow-color) / 0.1);
    --shadow: 0rem 0.25rem 0.75rem 0rem hsl(var(--shadow-color) / 0.1), 0rem 1px 2px -1px hsl(var(--shadow-color) / 0.1);
    --shadow-md: 0rem 0.25rem 0.75rem 0rem hsl(var(--shadow-color) / 0.1),
      0rem 2px 4px -1px hsl(var(--shadow-color) / 0.1);
    --shadow-lg: 0rem 0.25rem 0.75rem 0rem hsl(var(--shadow-color) / 0.1),
      0rem 4px 6px -1px hsl(var(--shadow-color) / 0.1);
    --shadow-xl: 0rem 0.25rem 0.75rem 0rem hsl(var(--shadow-color) / 0.1),
      0rem 8px 10px -1px hsl(var(--shadow-color) / 0.1);
    --shadow-2xl: 0rem 0.25rem 0.75rem 0rem hsl(var(--shadow-color) / 0.25);
  }

  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }

  .orb-container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  /* Scrollbar global - WebKit */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
    border-radius: 0.5rem;
  }

  /* Scrollbar global - Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--muted-foreground)) transparent;
  }

  .dark *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--muted-foreground));
  }

  .dark * {
    scrollbar-color: hsl(var(--muted-foreground)) transparent;
  }
}
